
@import 'colors';

.card-wrapper {
  perspective: 800px;
  transition: all .2s ease-in;

  &:hover {
    transform: scale(1.05);
  }


  button {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 5px 10px;

    i {
      display: inline-block;
      font-size: 1.1rem;
      color: $light-grey;
      transition: transform 0.5s ease-in-out; 
    }

    .active-color {
      color: $dark-navy;
    }
  }

  .card {
    position: relative;
    cursor: pointer;
    width: 200px;
    height: 300px;
    transform-origin: top; 
    transform-style: preserve-3d;
    transform: transform 1s;

    .side {
      position: absolute;
      width: 100%;
      height: 100%;
      border: 1px solid $light-grey;
      border-radius: 10px;
      overflow: hidden;
      backface-visibility: hidden;
      font-weight: 700;
    }

    .front {
      transform: rotateY(0deg);

      .image-container {
        position: relative;
        width: 100%;
        height: 300px;
        
        img { 
          width: 100%;
          height: 100%;
          color: $light-grey;
        }

        .info-overlay {
          position: absolute;
          bottom: 0; 
          left: 0; 
          width: 100%;
          background-color: $box-overlay-color;
          color: $light-grey;

          p {
            margin: 0;
            padding: 10px;
            font-size: 1.1rem;
          }

          p:last-child {
            font-weight: normal;
          }
        }
      }
    }

    .back {
      background: $light-grey;
      transform: rotateY(-180deg);

      h2, p {
        margin: 0;
        padding: 5px 20px;
        color: $dark-navy;
      }

      p {
        overflow: hidden;
        height: 232px;
        display: -webkit-box;
        -webkit-line-clamp: 15;
        -webkit-box-orient: vertical;
        text-align: justify;
      }
    }
  }
}
