@import 'colors';

.navigation ul {
  list-style: none;
  margin: 1rem;
  padding: 0;
  display: flex;
  justify-content: center;

  li {
    position: relative;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 0.8rem;
    min-width: 7rem;
    color: $aqua;
    transition:
      background-color 0.3s ease,
      transform 0.3s ease,
      color 0.3s ease;
  }

  li:first-child {
    margin-right: 0.5rem;
  }

  li::before,
  li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: transparent;
    transition:
      transform 0.3s ease,
      background-color 0.3s ease;
    transform: scaleX(0);
  }

  li:hover::before,
  li:hover::after {
    background-color: $aqua;
    transform: scaleX(1);
  }

  li.active::before,
  li.active::after {
    background-color: $aqua;
    transform: scaleX(1);
  }
}
